@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

   .smaller-w{
    width: 31%;
}

    .text-smaller{
        font-size: 0.65rem;
    }

.wel-sec h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.change-height{
    height: 300px !important;
}

.background-c{
    background-color: #f0cdbb;
}

.padd{
    padding: 2px 0;
    width: 30%;
    margin: 1.5em auto;
}

.card-col h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.more-my{
    margin: 10em 0 11em;
}

.right{
    margin: 6em 0 6em 2em;
}

.no-img{
    width: 260px;
    height: 450px;
    border-color: #f0cdbb !important;
    background-image: none;
    z-index: 1;
}

.stroke{
    width: 300px;
    height: 450px;
    background-image: none;
}


.only-color{
    width: 260px;
    height: 400px;
    background-color:#f5d8ca;
    top: 4em;
    left: 6.5em;
    z-index: -1;
}


.flex-img{
    height: 380px;
    top: 1.5em;
    left: 2.5em;
    z-index: 2;
}

.font-c{
    font-family:'Times New Roman', Times, serif;
}
@media (min-width: 520px){
    .smaller-w{
        width: 18%;
    }

    .only-color{
        width: 290px;
        height: 420px;
        left: 3em;
    }

    .no-img{
        width: 270px;
        height: 440px;
    }

    .flex-img{
        height: 380px;
        top: 1.5em;
        left: 2em;
    }

    .text-smaller{
        font-size: inherit;
    }

    .black-card{
        width: 70%;
        margin: 5em auto;
    }

    
}

@media (min-width: 960px){
    .smaller-w{
        width: 13.5%;
    }

    .only-color{
        width: 250px;
        height: 420px;
        left: 7em;
    }

    .black-card{
        width: 48%;
        margin: 5em auto;
    }

    .flex-img{
        height: 380px;
        top: 1.5em;
        left: 4em;
    }

    .no-img{
        width: 300px;
        height: 440px;
    }
}

@media (min-width: 1200px){
    .smaller-w{
        width: 11%;
    }

    .only-color{
        width: 350px;
        height: 450px;
        left: 12em;
    }

    .flex-img{
        height: 420px;
        top: 1.5em;
        left: 4em;
    }

    .no-img{
        width: 350px;
        height: 480px;
    }
}